*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: Raleway, Helvetica, Arial, sans-serif;
}
:root {
    --purple: #745CF9;
    --gray: #F5F5F5;
}

header {
    background: url('../img/headerbg.jpg') center/cover ;
    height: 100vh;
    background-attachment: fixed;
}
nav {
    height: 77px;
    background-color: white;
    padding: 10px 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu {
    display: none;
  }
.headBottom{
    text-align: center;
    height: calc(100vh - 77px);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: auto;

}

.headBottom h1 {
    color: #fff;
    font: 2em 300px;
    line-height: 40px;
    margin-bottom: 24px;
    text-align: center;
}

.headBottom p {
    color: #fff;
    font-size: 0.75em;
    margin-bottom: 24px;
}
.bgPurple{
    background-color: var(--purple);
}
.btn {
    display: inline-block;
    min-width: 200px;
    font-size: 0.75em 700;
    text-transform: uppercase;
    line-height: 24px;
    padding: 13px 26px;
    border: 2px solid #745cf9;
    color: white;
    
    white-space: normal;
}
#btnP:hover {
        background-color:  #4e3cb3;
        color: #fff;
}

.section1 {
    padding: 90px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section2 {
    padding: 90px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--gray);
}
.section1 img, .section2 img{
    
        width: 50%;
       
    
}

.section3{
    background: url('../img/main.bg.jpg') center/cover;
    height: 50vh;
    background-attachment: fixed;
    text-align: center;
}

.section4{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--gray);
}
.section5{
    background-color: black;
    color: #fff;
    text-align: center;
}
.album{
    display: inline-flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}

.secMain{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.secPhoto {
    width: 25%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.secPhoto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay {
    position: absolute;
    top: 100%;
    right: 0;
    height: 100%;
    width: 100%;
    transition: 0.3s;
    
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    font-size: 1.4em;
    background: linear-gradient(to bottom, transparent, rgba(29, 28, 28, 0.502));
  }
  .secPhoto:hover .overlay {
    top: 0;
    opacity: 1;
  }

.section6 img{
    border-radius: 50%;
}
.section7{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgApp{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgApp img{
    width: 50px;
    opacity: 0.7;
    transition: 0.2s;
    margin: 30px ;
}
.imgApp img:hover {
    opacity: 1;
    cursor: pointer;
}
.section8{
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--gray);
}
footer{
    background-color: #0E1015;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
      
    color: #fff;
}
.iconFooter{
    display: flex;
    justify-content: flex-end;
    padding: 0 5px ;
}
@media only screen and (min-width: 768px) {
    header {
        width: 100%;
    }
    nav {
        padding: 10px 0;
        position: fixed;
        width: 100%;
        justify-content: space-around;
    }
    #menu {
        display: flex;
        gap: 24px;
    }

    #menu a {
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: -1px;
        color: #4c4c4c;
    }


    h1 {
        font-size: 3.75em;
    }

   
   
    .section1 {
        flex-direction: row;
        justify-content: center;
      }
    .section2 {
        flex-direction: row;
        justify-content: center;
      }
   .imgApp{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
   }
   .section8{
    padding: 80px 0;
    flex-direction: row;
    justify-content: space-around;
   }
   footer {
   
        width: 100%;
    
    flex-direction: row;
  }
}